# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv/
.env/
.env.*

# =========================
# macOS
# =========================
.DS_Store

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Logs / Temp
# =========================
*.log
tmp/
